a {
  color: #F4FA58;
  text-decoration: none;
  font-weight:bold
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#jsmind_container{
    width:100%;
    border:solid 1px #ccc;
    background:#f4f4f4;
}
#msg{
	position: fixed;
	left: 80px;
	top: 100px;
	z-index: 8000;
}

#toolsBar{
	position: fixed;
	left: 10px;
	top: 10px;
	border: 0px dashed #16A085;
	z-index: 10000;
}
#addNode{
    background: #ffffff;
    padding: 10px;
    color: #FFFFFF;
    font-size: 15px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: 0px solid #FFFFFF;
}
#delNode{
	background: #ffffff;
    padding: 10px;
    color: #FFFFFF;
    font-size: 15px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: 0px solid #FFFFFF;
}
#zoomOut{
	background: #ffffff;
    padding: 10px;
    color: #FFFFFF;
    font-size: 15px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 0px solid #FFFFFF;
}
#zoomIn{
	background: #ffffff;
    padding: 10px;
    color: #FFFFFF;
    font-size: 15px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 0px solid #FFFFFF;
}
#saveMind{
    background: #ffffff;
    padding: 10px;
    color: #FFFFFF;
    font-size: 15px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: 0px solid #FFFFFF;
}
#newMind{
    background: #ffffff;
    padding: 10px;
    color: #FFFFFF;
    font-size: 15px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: 0px solid #FFFFFF;
}
.file {
    background: #ffffff;
    padding: 10px;
    color: #FFFFFF;
    font-size: 15px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: 0px solid #FFFFFF;
}
.file input {
    position: absolute;
    font-size: 5px;
    left: 66px;
    top: -1px;
    opacity: 0;
    width: 60px;
    height: 60px;
}
